.a {
    cursor: 'url("/sora.png") 22 22, auto'
}


.click-effect {
    position: absolute;
    font-size: 40px;
    pointer-events: none;
    user-select: none;
    animation: floatUp 0.5s ease-out forwards;
    transform: translate(-50%, -50%);
}

@keyframes floatUp {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -100%) scale(1.8);
        opacity: 0;
    }
}

.card-hover:hover {
    background-color: #d0d6c085;
    transition: background-color 0.2s ease-in-out;
}